/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

#mode-edition{
	width: 100%;
	display: none;
	background-color: black;
	color: white;
	font-size: 16px;
	height: 60px;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}

#mode-edition i{
	color: white;
	margin-right: 8px;
}

.mode-edition {
	margin-top: 100px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 40px 0 150px 0;
}
section {
	margin: 150px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	
}

nav li a{
	padding: 0 10px;
	font-size: 1.2em;	
	color: #3D3D3D;
}

nav ul li img{
	width: 18px;
	height: 18px;
	filter: drop-shadow(0 0 0.5px black); /* logo instag en gras */
}

.portfolio-header{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;
}

.portfolio-header i{
	margin-right: 10px;
	font-size: 14px;
}

.btn-modifier{
	display: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 16px;
	display: flex;
	align-items: center;
	padding: 0;
	font-family: 'Work Sans';

}

.active{
	font-weight: 900;	
}

.active, 
header nav ul li a:hover{
color: black;
font-weight: 900;
}


.logo-lien{
	display: inline-block;
	color: inherit;
}

.login-header nav ul{
	gap: 20px;
}

.login-container{
	width: 350px;
	margin: 100px auto 0;
	text-align: center;
}

#login-form{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login-container h2{
	margin-bottom: 30px;
}

#login-form label{
	margin-bottom: 0;
	margin-bottom: 5px;
	color: #3D3D3D;
}

#login-form input{
	height: 40px;
	border: none;
	background-color: white;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 25px;
}

#login-form input[type="submit"] {
    background-color: #1D6154;
	height: 36px;
    cursor: pointer;
	margin-top: 15px;
}

#login-form a{
	text-align: center;
	color: black;
	text-decoration: underline;
	color: #3D3D3D;
}

.login-footer{
	max-width: 100% ;
}

.barre-blanche{
 	width: 100%; 
    height: 60px;
    background-color: white;
    align-items: center;
	position: fixed; 
	bottom: 0; 
	left: 0;
}

.login-footer ul li a{
	padding-right: 70px;
	color: #3D3D3D;
	cursor: pointer;
}

.message-erreur{
	color: red;
	text-align: center;
	margin-bottom: 20px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

#filtres{
	display: flex;
	justify-content: center;
	font-size: 16px;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.bouton-filtres{
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 8px 20px;
	background-color: white;
	color: #1D6154;
	font-family: 'syne';
	font-weight: 700;
	cursor: pointer;
}

.bouton-filtres.actif {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
	
}

footer li a{
	cursor: pointer;
	color: #3D3D3D;
}


/* ETAPE 6 MODALE */


.modale{ /*Le conteneur global de la modale (modale caché par défaut) */
	display: none; /* cachée tant qu'on ne l'ouvre pas en JS */
	position: fixed;
	inset: 0; /* top:0; right:0; bottom:0; left:0 */
	z-index: 2000; /* au-dessus de #mode-edition */
	justify-content: center;
	align-items: center;
}


.modale-overlay{ /* Overlay gris transparent */
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.30);
	z-index: 1;
}


.modale-content{ /* Le "bloc blanc" */
	position: relative;
	width: 630px;
	background: #fff;
	border-radius: 10px;
	padding: 50px 80px 40px ;
	box-sizing: border-box;
	z-index: 2;
}


.modale-close{ /* Bouton fermer (croix) */
position: absolute;
top: 20px;
right: 20px;
border: none;
background: transparent;
cursor: pointer;
font-size: 18px;
padding: 5px;
color: #000;
}

.modale-retour{ /* Flèche retour */
position: absolute;
top: 20px;
left: 20px;
cursor: pointer;
font-size: 18px;
color: #000;
}



.modale-content h3{
	text-align: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 35px;
	color: #000;
}

.ligne-separation {
	width: 100%;
	height: 1px;
	background: #b3b3b3;
	margin: 50px 0 20px;
}


.modale-galerie-images{ /* Grille d’images dans la modale */
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
margin-bottom: 35px;
}

.modale-galerie-images figure{ /* Chaque vignette */
position: relative;
margin: 0;
}

.modale-galerie-images img {
display: block;
width: 100%;
}

.modale-galerie-images .btn-delete{ /* Icône poubelle (je la mettrai dans le HTML généré en JS plus tard) */
position: absolute;
top: 5px;
right: 5px;
width: 17px;
height: 17px;
border: none;
border-radius: 2px;
background: #000;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}


.modale-galerie-images .btn-delete i {
	font-size: 10px;
	color: #fff;
}



.btn-ajouter-photo, 
.btn-valider {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 36px;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
}

.btn-ajouter-photo{ /* Bouton vert */
background: #1D6154;
color: #fff;
}

.btn-valider{ /* Valider (gris tant que pas prêt) */
background: #a7a7a7;
color: #fff;
}



.modale-form{ /* Par défaut, on cache le formulaire (je l’afficherai en JS quand on clique sur "Ajouter une photo") */
display: none;
}

#form-ajout-photo{ /* Champs */
display: flex;
flex-direction: column;
gap: 10px;
}

#form-ajout-photo .ligne-separation{
	margin-top: 30px;
	margin-bottom: 25px;
}

#form-ajout-photo label {
	font-family: 'Work Sans';
	font-size: 14px;
	color: #3d3d3d;
}

#form-ajout-photo input[type="text"],
#form-ajout-photo select {
	
	border: none;
	height: 50px;
	box-shadow: 0 4px 14px rgba(0,0,0,0.09);
	padding: 0 10px;
	box-sizing: border-box;
	
}


.form-image{
	height: 170px;
	background: #E8F1F6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 3px;
}

.form-image input[type="file"]{ /* input file */
	font-family: 'Work Sans';
}









