/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;	
}

nav ul li img{
	width: 18px;
	height: 18px;
	filter: drop-shadow(0 0 0.5px black); /* logo instag en gras */
}

nav li .active{
	font-weight: 700;
}

li:hover {
	color: #B1663C;
}

.login-header{
	margin: 20px;
}

.login-header nav ul{
	gap: 20px;
}

.login-container{
	width: 350px;
	margin: 100px auto 0;
	text-align: center;
}

#login-form{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login-container h2{
	margin-bottom: 30px;
}

#login-form label{
	margin-bottom: 0;
	margin-bottom: 5px;
	color: #3D3D3D;
}

#login-form input{
	height: 40px;
	border: none;
	background-color: white;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 25px;
}

#login-form input[type="submit"] {
    background-color: #1D6154;
	height: 36px;
    cursor: pointer;
	margin-top: 15px;
}

#login-form a{
	text-align: center;
	color: black;
	text-decoration: underline;
	color: #3D3D3D;
}

.login-footer{
	max-width: 100% ;	
}

.barre-blanche{
 	width: 100%; /* la largeur du bloc doit prendre 100% de la largeur de son conteneur et comme c'est en postion: fixed, son conteneur de reference est la 
	fenetre du navigateur (viewport) donc la barre blanche fait toute la largeur de l'ecran */
    height: 60px;
    background-color: white;
    align-items: center;
	position: fixed; /* l'élément est "sorti" de la page, il est postionné par rapport à la fenetre du navigateur et non du html et les propriété bottom, 
	left, etc servent à dire où il va se positionner dans la page */
	bottom: 0; /* avec la position fixed cela veut dire colle toi au bas de la page de la fenêtre (0px du bord inférieur) */
	left: 0;
	/* * la position fixed sort l'element de la page visible jusqu'à ce qu'on lui indique par des propriétés où il doit se placer dans la page (fenetre) et 
	doit etre obligatoirement associé avec un left et right à 0px pour qu'il prenne la totalité de la largeur de la page independamment du html. Sinon, il 
	reste en mode auto par defaut et garde sa position de départ. Dans notre cas left 0, permet au texte d'etre visible, contenu, dans la page. */
}

.login-footer ul li{
	padding-right: 70px;
	color: #3D3D3D;
	cursor: pointer;
}

.message-erreur{
	color: red;
	text-align: center;
	margin-bottom: 20px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#filtres{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.bouton-filtres{
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 8px 20px;
	background-color: white;
	color: #1D6154;
	font-family: 'syne';
	font-weight: 700;
	cursor: pointer;
}

.bouton-filtres.actif,
.bouton-filtres:hover{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

